<template name="layout">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <link rel="icon" href="/img/symbol_talk.png">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Language App</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          {{#if currentUser}}
		  	{{#if checkType}}
			   <!-- nothing -->
			   {{else}}
          		<li><a href="/courses">Join Course</a></li>
		  	{{/if}}

          {{#if checkType}}
          <li class="dropdown">
          <a href="#" class="dropdown-toggle"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true">Teacher</span>&nbsp;<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/" class="logout">Logout</a></li>
          </ul>
        </li>
          {{else}}
                      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true">Student</span>&nbsp;<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/" class="logout">Logout</a></li>
          </ul>
        </li>
          {{/if}}

        {{/if}}


        </ul>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="/review">Contact</a></li>
        </ul>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  <div class="container">
    <br><br><br><br>
    {{> yield}}
  </div>



{{#if currentUser}}


  <div class="navbar navbar-inverse navbar-fixed-bottom">
    <style type="text/css">
        h4{color:green;}
        p{}
        #speech-div{color:red;
                    position: relative;
                    right: 30px;
                    margin-top:10px;
        }

        #rec{
          padding: 1px 10px;
        }

    </style>




       <p class="navbar-center navbar-text">Brought to you by <a href="/review">Gabe, Mikey, Moses, and Chanwoo (The Dream Team)</a>


    </p>

    <div class="nav navbar-nav navbar-right" id="speech-div">

    <input id="speech" type="text">
    <button id="rec" class="btn">
        <img src="/mic1231.png" width="30px" height="30px" />
    </button>

    </div>



  </div>
  {{else}}

  {{/if}}






</template>
