<template name="layout">

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Language App</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          {{#if currentUser}}
		  	{{#if checkType}}
			   <!-- nothing -->
			{{else}}
          		<li><a href="/courses">Join Course</a></li>
		  	{{/if}}
          <li><a href="/" class="logout">Logout</a></li>
        {{/if}}


        </ul>
        <ul class="nav navbar-nav navbar-right">
        </ul>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  <div class="container">
    <br><br><br><br>
    {{> yield}}
  </div>



{{#if currentUser}}


  <div class="navbar navbar-inverse navbar-fixed-bottom">
    <style type="text/css">
        h4{color:green;}
    </style>

    <p class="navbar-center navbar-text">Brought to you by <a href="https://www.haxball.com">Gabe, Mikey, Moses, and Chanwoo</a>


      <h4>  Speech recognition Demo </h4>
      <input id="speech" type="text">
      <button id="rec" class="btn">Speak</button>

    </p>


  </div>
  {{else}}

  {{/if}}






</template>
